.health-insurance-form {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.health-insurance-form__section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.health-insurance-form__section-title {
    font-size: 20px;
    color: #fff;
}

.health-insurance-form__subsection {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 52px;
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}